<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UseMockData" value="false" />
    <add key="UseAzureStorage" value="false" />
    <add key="UseAzureManagedIdentity" value="false" />
    <add key="UseCustomizationData" value="false" />
    <add key="UseAzureActiveDirectory" value="false" />
  </appSettings>
</configuration>
